// colour palette
$white: 	 #ffffff;
$off-white:	 #fbfbfb;
$sky-blue: 	 #5bc0de;
$purple:	 #8c7ae6;
$green:		 #82bb41;
$green-alt:	 #607440;
$orange: 	 #f1922f;
$orange-alt: #d35f28;
$grey: 		 #444444;
$light-grey: #979797;
$dark-grey:	 #141b24;

// break points
$mobile: 		 320px;
$mobile__large:	 480px;
$tablet: 		 768px;
$tablet__large:	 1024px;
$desktop:		 1280px;
$desktop__medium:1366px;
$desktop__large: 1440px;